[Unit]
Description=Maze Robot Docker Image
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/home/william/maze
ExecStart=/usr/bin/env docker-compose up -d
ExecStop=/usr/bin/env docker-compose down
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
